@import '../abstracts/fonts';
@import '../abstracts/colours';

.block {
  background: $white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    margin: 0;
    min-height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    @media screen and (max-width: 1024px) {
      min-height: 400px;
    }
  }

  &__heading {
    @include font-bold;
    text-transform: uppercase;
  }

  &__line {
    border-bottom: 1px solid $black;
    width: 80px;
    opacity: 1;
  }

  &__para {
    @include font-normal;

    @media screen and (max-width: 400px) {
      max-width: 80%;
      word-wrap: break-word;
      font-size: 16px;
    }
  }

  &__para-hours {
    @media screen and (max-width: 400px) {
      max-width: 100%;
    }
  }

  &__phone {
    @include font-normal;
  }

  &__button-book {
    @include font-bold;
    width: 260px;
    height: 65px;
    background: transparent;
    border: 3px solid $black;
    text-transform: uppercase;
    margin-top: 50px;
  }

  &__button-book:hover, &__button-book:active {
    background: $black;
    color: $white;
    text-decoration: none;
  }

  &__phone:hover, &__phone:active {
    text-decoration: underline;
 }

  a:link,
  a:visited {
    text-decoration: none;
    color: $black;
  }
}

#block-direction {
  @media screen and (max-width: 1024px) {
    flex-direction: column-reverse;
  }
}