@import '../abstracts/fonts';
@import '../abstracts/colours';

.footer {
  background-color: $black;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    padding-top: 4em;
    padding-left: 4em;
    padding-right: 4em;

    @media screen and (max-width: 400px) {
      padding: 2em;
      margin-top: 30px;
    }
  }

  &__heading {
    @include font-bold;
    color: $white;
    padding-top: 20px;
    text-transform: uppercase;
    margin-bottom: 24px;
  }
  &__line-div {
    margin-bottom: 24px;
  }

  &__line {
    border-bottom: 1px solid $white;
    box-align: center;
    width: 80px;
    margin: auto;
    opacity: 1;
  }

  &__hours {
    @include font-normal;
    color: $white;

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  &__phone {
    @include font-normal;
    margin-top: 35px;

    @media screen and (max-width: 400px) {
      font-size: 16px;
    }
  }

  &__phone-link {
    font-weight: bold;  
  }

  &__socials {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    border: none;

      @media only screen and (min-width: 1024px) {
      position: relative;
      left: 450px;
      bottom: 65px;
      padding: 0px;
      justify-content: flex-end;
    }
  }

  &__socials-button {
    border: 1px solid $white;
    border-radius: 50%;
    margin: 20px;
    color: white;
  }

   &__credit {
    @include font-normal;
    font-size: 14px;
    color:$white;
    padding-top: 10px;

    @media screen and (max-width: 400px) {
      font-size: 10px;
    }
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: $white;
  }

  a:hover,
  a:active {
    text-decoration: none;
    background: $white;
    color: $black;
  }
}

