@import '../abstracts/fonts';
@import '../abstracts/colours';

.burger {
  width: 2em;
  height: 2em;
  cursor: pointer;
  color: $black;
  z-index: 999999999;
  position: relative;
  display :inline-block; 
  position : absolute;
  left : 0;
  margin-left: 20px;

  @media only screen and (min-width: 768px) {
    display: none;
  }
}

.menuClose {
  width: 2em;
  height: 2em;
  color: $white;
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

.Menu {
  background-color: $black;
  color: $white;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  overflow-x: hidden;
  transition: 0.5s;
}


.Menu button {
  background: none;
  border: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1rem;
  right: 1rem;
  cursor: pointer;
  fill: var(--light-placeholder-color);
  transition: var(--transition);
}

.Menu button:hover {
  fill: green;
}

.Menu nav {
  display: flex;
  flex-direction: column;
}

.Menu nav a {
  color: red;
  fill: pink;
  margin: 0 -1rem;
  padding: 0.6rem 1rem;
  text-decoration: none;
  position: relative;
  display: flex;
  align-items: center;
}
